@tailwind base;
@tailwind components;
@tailwind utilities;

/* ############# Turquoise Palette #############
    Turquoise-50: #f5fafc
    Turquoise-100: #e0f2f1
    Turquoise-200: #c2e6e0
    Turquoise-300: #99d9ce
    Turquoise-400: #70cbc4
    Turquoise-500: #40e0d0 (base colour)
    Turquoise-600: #26c4a1
    Turquoise-700: #00a77a
    Turquoise-800: #008a65
    Turquoise-900: #006d4f
    Turquoise-950: #004c38 */

/* ############# Teal Palette #############
    Teal-50: #fafafa
    Teal-100: #f0ffff
    Teal-200: #e0ffff
    Teal-300: #99d9ce
    Teal-400: #c2ffff
    Teal-500: #008080 (base colour)
    Teal-600: #006062
    Teal-700: #004044
    Teal-800: #002026
    Teal-900: #000033
    Teal-950: #00005e */

.card-header {
	@apply font-bold text-lg sm:text-xl lg:text-2xl text-primary text-left;
}

.card-body {
	@apply font-normal text-base text-foreground;
}

.card-button {
	@apply mt-3.5;
}

.header-title {
	@apply font-bold text-2xl sm:text-4xl lg:text-3xl text-foreground text-left leading-2;
}

.subtitle {
	@apply text-xl sm:text-3xl font-bold text-left;
}

.flex-center {
	@apply justify-center items-center;
}
